body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-family: 'Montserrat', sans-serif;
  /* background-color: #b8bfb9; */
}

header {
  margin-top: 1.5em;
  text-align: center;
  color: #207a56;
}

header h1 {
  font-size: 2em;
  font-weight: 700;
}

.header-top{
  background-image: linear-gradient(rgba(110, 110, 128, 0.7),rgba(110, 110, 128, 0.7)),url(../image/bg.jpg);
  min-height: 85vh;
  background-position: center;
  background-size: cover;
}
.header1-top{
  background-image: linear-gradient(rgba(110, 110, 128, 0.7),rgba(110, 110, 128, 0.7)),url(../image/bg.jpg);
  min-height: 12vh;
  background-position: center;
  background-size: cover;
}
.header-top img{
  height: 39px;
  padding-left: 70px;
  padding-top: 10px;
}
.p-0{
  padding: 0;
}
.ps-10{
  padding-left: 6rem;
}
.ps-12{
  padding-left: 12rem;
}
.ps-15{
  padding-left: 15rem;
}
.logos h3{
  padding-left: 50px;
  padding-top: 15px;
  color: #fff !important;
  text-transform: uppercase;
  font-size: 28px;
  font-weight: 700;
}
.logos h3 a{
  text-decoration: none;
  color: #fff !important;
}
.logos h3 a:hover{
  font-size: 30px;
}
.navmenu ul li{
  padding-right: 25px;
}
.navmenu ul li a{
  color: #fff !important;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
}
/* .active::after{
  content: " ";
  height: 2px;
  width: 90%;
  background-color: red;
  display: block;
} */
/* .active:hover::after{
  width: 0%;
} */
.navmenu ul li::after{
  content: " ";
  width: 0%;
  height: 2px;
  background-color: red;
  display: block;
  transition: .5s;
}
.navmenu ul li:hover::after{
  width: 90%;
}
.lin{
  content: '-';
  width: 99%;
  height: 0.2px;
  background-color: #fff;
  display: block;
  opacity: 0.5;
}
.header-content{
  color: #fff;
  padding-top: 10px;
  margin-left: 30px;
  padding-left: 30px;
  /* position: relative;
  left: 50%; */
}
.header-content1{
  color: #fff;
  padding-top: 30px;
  margin-left: 30px;
  padding-left: 30px;
  padding-bottom: -100px;
  height: 70vh;
}
.btn-hero{
  background-color: orangered;
  color: white;
  border-radius: 50px;
  font-size: 20px;
  height: 48px;
  width: 180px;
}
.btn-hero{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.btn-hero:after {
  content: " ";
  position: absolute;
  opacity: 0;  
  top: 5px;
  right: -20px;
  transition: 0.5s;
}

.btn-hero:hover{
  padding-right: 24px;
  padding-left:8px;
  background-color: white;
  border-radius: 50px;
  border-color: orangered;
  color: orangered;
}

.btn-hero:hover:after {
  opacity: 1;
  right: 10px;
}

#container3D canvas {
  /* width: 100vw !important; */
  height: 70vh !important;
  position: absolute;
  top: 12%;
  right: 20%;
  width: 50% !important;
    border: 1px solid red;
    margin-left: -120px;
    left: 12%;
}

footer{
  /* margin-top: 25em; */
  /* text-align: center; */
  font-size: 16px;
  margin-top: 6em;
  /* margin-left: 10px; */
  /* padding: 10px; */
  padding-right: 10px;
}

.desc p{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: justify;
}



/* Intro Content  */
.intro{
  margin-top: 97px;
  background-color: #fff;
}
.intro-content h2{
  font-size: 30px;
  font-weight: 600;
  line-height: 33px;
  color: #374050;
}
.lead{
  font-size: 21px;
  font-weight: 300;
  line-height: 29px;
  color: #798696;
}

.feature{
  position: relative;
}
.feature .featue-icon{
  position: absolute;
  left: 0;
  top: 0;
  width: 80px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  border-radius: 50%;
  font-size: 30px;
  border: 1px solid #EBEBEB;
  color: #FF6700;
}

.feature-content{
  padding-left: 100px;
}
.feature-content h4{
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  color: #374050;
}
.feature-content p{
  font-size: 15px;
  font-weight: 400;
  line-height: 21px;
  color: #798696;
}
.intro-image{
  margin-top: 40px;
}


/* Second image 3d */
#myCustomContainer canvas {
  width: 85vw !important;
  /* height: 70vh !important; */
  position: absolute;
  /* top: 12%; */
  right: 80%;
  width: 50% !important;
    /* border: 1px solid red; */
    margin-left: 40%;
    left: 12%;
  
}
/* End 2nd image 3D */


/* Explore Section  */
.course-heading{
  /* text-align: center; */
  margin-top: 30px;
}
.course-heading1{
  text-align: center;
  margin-top: 100px;
}
.course-heading h2{
  font-size: 30px;
  line-height: 33px;
  font-weight: 600;
  color: #374050;
  margin-bottom: 15px;
}

.course-heading a{
  text-decoration: none;
  color: black;
  font-family: Lato, sans-serif;
  font-size: 15px;
  font-weight: 700;
  line-height: 21px;
  color: #374050;
}
.course-heading .card{
  border-radius: 10px;
  border: none;
}
.lin1{
  content: '-';
  width: 90%;
  height: 0.2px;
  background-color: #000;
  display: block;
  opacity: 0.3;
}
.c-content{
  /* margin-left: -22px; */
  font-family: Montserrat, sans-serif;
  font-size: 15px;
  color: #798696;
  font-weight: 400;
}
.free{
  padding-left: 70px;
  color: #008000;
  font-family: Montserrat, sans-serif;
  font-size: 15px;
  font-weight: 400;
}
.Premium{
  padding-left: 35px;
  color: #ff6700;
  font-family: Montserrat, sans-serif;
  font-size: 15px;
  font-weight: 400;
}
.more-course{
  text-align: center;
  margin-top: 22px;
  margin-bottom: 30px;
}

/* Second image 3d */
#Item01 canvas {
  /* width: 100vw !important; */
  /* background-color: cornflowerblue; */
  /* opacity: 0.3; */
  height: 30vh !important;
  position: absolute;
  /* top: 12%; */
  right: 20%;
  width: 20% !important;
  border: 1px solid black;
  border-radius: 5px;
    margin-left: 40%;
    left: -11%;
  
}
/* End 2nd image 3D */

/* Second image 3d */
#Item02 canvas {
  /* width: 100vw !important; */
  /* background-color: cornflowerblue; */
  height: 30vh !important;
  position: absolute;
  /* top: 12%; */
  right: 40%;
  width: 20% !important;
  border: 1px solid black;
  border-radius: 5px;
    margin-left: 62%;
    left: -11%;
  
}
/* End 2nd image 3D */


#Item03 canvas {
  /* width: 100vw !important; */
  /* background-color: cornflowerblue; */
  height: 30vh !important;
  position: absolute;
  /* top: 12%; */
  right: 40%;
  width: 20% !important;
  border: 1px solid black;
  border-radius: 5px;
    margin-left: 18%;
    left: -11%;
  
}
/* End 2nd image 3D */


#Item04 canvas {
  /* width: 100vw !important; */
  /* background-color: cornflowerblue; */
  height: 30vh !important;
  position: absolute;
  /* top: 12%; */
  right: 40%;
  width: 20% !important;
  border: 1px solid black;
  border-radius: 5px;
    margin-left: 84%;
    left: -11%;
  
}
/* End 2nd image 3D */


#Item05 canvas {
  /* width: 100vw !important; */
  /* background-color: cornflowerblue; */
  height: 30vh !important;
  position: absolute;
  /* top: 12%; */
  right: 40%;
  width: 20% !important;
    border: 1px solid black;
    border-radius: 5px;
    margin-left: 18%;
    left: -11%;
  
}
/* End 2nd image 3D */


#Item06 canvas {
  /* width: 100vw !important; */
  /* background-color: cornflowerblue; */
  height: 30vh !important;
  position: absolute;
  /* top: 12%; */
  right: 40%;
  width: 20% !important;
  border: 1px solid black;
  border-radius: 5px;
    margin-left: 40%;
    left: -11%;
  
}
/* End 2nd image 3D */


#Item07 canvas {
  /* width: 100vw !important; */
  /* background-color: cornflowerblue; */
  height: 30vh !important;
  position: absolute;
  /* top: 12%; */
  right: 40%;
  width: 20% !important;
  border: 1px solid black;
  border-radius: 5px;
    margin-left: 62%;
    left: -11%;
  
}
/* End 2nd image 3D */


/* Second image 3d */
#Item08 canvas {
  /* width: 100vw !important; */
  /* background-color: cornflowerblue; */
  height: 30vh !important;
  position: absolute;
  /* top: 12%; */
  right: 40%;
  width: 20% !important;
  border: 1px solid black;
  border-radius: 5px;
    margin-left: 84%;
    left: -11%;
  
}
/* End 2nd image 3D */

.c-content{
  /* margin-left: -22px; */
  font-family: Montserrat, sans-serif;
  font-size: 15px;
  color: #798696;
  font-weight: 400;
}
.free{
  padding-left: 70px;
  color: #008000;
  font-family: Montserrat, sans-serif;
  font-size: 15px;
  font-weight: 400;
}
.Premium{
  padding-left: 35px;
  color: #ff6700;
  font-family: Montserrat, sans-serif;
  font-size: 15px;
  font-weight: 400;
}
.more-course{
  text-align: center;
  margin-top: 22px;
  margin-bottom: 30px;
}

.cta{
  background-image: linear-gradient(rgba(110, 110, 128, 0.7),rgba(110, 110, 128, 0.7)),url(../image/cta1-background.jpg);
  background-position: center;
  background-size: cover;
  min-height: 50vh;
  position: relative;
  background-attachment: fixed;
}
.cta-content{
  margin-left: 75px;
  margin-top: 75px;
}
.cta .cta-content h2{
  font-size: 30px;
  line-height: 33px;
  font-weight: 600;
  margin-bottom: 25px;
  color: #ffffff;
  margin-left: 30px;
}
.cta .cta-content p{
  font-size: 21px;
  line-height: 29px;
  font-weight: 300;
  margin-bottom: 25px;
  color: #ffffff;
  margin-left: 30px;
}

.reason{
  margin-top: 75px;
}
.reason-header{
  text-align: center;
}
.reason-header h2{
  font-size: 30px;
  line-height: 33px;
  font-weight: 600;
  color: #374050;
}

.reason-icon .featue-icon{
  position: absolute;
  left: 0;
  top: 0;
  width: 80px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  border-radius: 50%;
  font-size: 30px;
  border: 1px solid #EBEBEB;
  color: #FF6700;
}
.lin2{
  content: '-';
  width: 99%;
  height: 0.2px;
  background-color: #000;
  display: block;
  opacity: 0.3;
}
.video-left h3{
  font-size: 24px;
  line-height: 26px;
  font-weight: 600;
  color: #374050;
  margin-bottom: 15px;
}
.video-left .txt-2{
  font-size: 15px;
  line-height: 21px;
  font-weight: 400;
  color: #798696;
  margin-top: 15px;
}


#container3Ds canvas {
  /* width: 100vw !important; */
  height: 65vh !important;
  position: absolute;
  top: 15%;
  right: 20%;
  width: 50% !important;
    border: 1px solid red;
    margin-left: -120px;
    left: 12%;
}


.map{
  margin: 0 20px;
  margin-top: 80px;
}
.contact-page-content{
  margin: 0 135px;
  margin-top: 50px;
}
.contact-left h2{
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  font-family: Poppins, sans-serif;;
  color: #212529;
}
.contact-left p{
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}
.contact-left i{
  padding-top: 20px;
  padding-left: 10px;
  font-size: 20px;
}
.pl{
  padding-right: 100px;
  padding-bottom: 40px;
}
.contact-form{
  margin-top: -20px !important;
}
.contact-form input{
  height: 50px;
  margin-top: 25px;
  /* border: none; */
  width: 90%;
  font-size: 17px;
  font-weight: 500;
  padding-left: 23px;
}
.contact-form   textarea{
  height: 250px;
  padding: 15px 25px 25px;
  margin-top: 25px;
  resize: none;
  font-size: 17px;
  font-weight: 500;
  width: 90%;
  margin-bottom: 20px;
}

.form-submit{
  border: 1px solid black;
  padding: 40px 50px;
}
.form-submit h2{
  font-size: 28px;
  line-height: 34px;
  font-weight: 500;
  color: #212529;
}
.form-submit input{
  height: 50px;
  margin-top: 25px;
  background-color: aquamarine;
  border: none;
  width: 100%;
  font-size: 17px;
  font-weight: 500;
  padding-left: 23px;
}
.form-submit textarea{
  height: 250px;
  padding: 15px 25px 25px;
  margin-top: 25px;
  background-color: aquamarine;
  resize: none;
  font-size: 17px;
  font-weight: 500;
  width: 100%;
}
.form-submit input:focus{
  background-color: white;
  box-shadow: 0 0 10px cornflowerblue;
  border: none !important;
  outline: none !important;
}
.form-submit textarea:focus{
  background-color: white;
  box-shadow: 0 0 10px cornflowerblue;
  border: none !important;
  outline: none !important;
}
.form-submit button{
  border-radius: 0;
  padding: 16px 40px;
  transition: all 1s ease 0s;
  border: none;
  margin-top: 35px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}
.form-submit button:hover{
  background-color: cornflowerblue;
  color: white;
  transition: all 1s ease 0s;
}


@media (min-width: 992px){
.col-md-offset-1 {
  margin-left: 8.33333333%;
}
}

.about-video{
  position: relative;
  display: block;
  border-radius: 4px;
  overflow: hidden;
}
.about-video:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: #FF6700;
  opacity: 0.7;
}
.about-video:hover{
  /* background-color: #cb6723; */
  opacity: 0.8;
  box-shadow:0px 0px 0px#cc875a;
}
.fa-play:before {
  content: "\f04b";
}
.about-video .play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50% , -50%);
  -ms-transform: translate(-50% , -50%);
  transform: translate(-50% , -50%);
  width: 80px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  background: #fff;
  border-radius: 50%;
  font-size: 24.027px;
  z-index: 10;
  -webkit-animation: 2s play-animation infinite;
  animation: 2s play-animation infinite;
  -webkit-transition: 0.2s color;
  transition: 0.2s color;
}

.contact{
  background-image: linear-gradient(rgba(110, 110, 128, 0.7),rgba(110, 110, 128, 0.7)),url(../image/cta2-background.jpg);
  background-position: center;
  background-size: cover;
  min-height: 50vh;
  position: relative;
  background-attachment: fixed;
}


.contact-content h2{
  padding-top: 70px;
  font-size: 30px;
  line-height: 33px;
  font-weight: 600;
}
.contact-content p{
  font-size: 21px;
  line-height: 29px;
  font-weight: 300;
  margin-top: 15px;
  margin-bottom: 20px;
}
.footer{
  margin-top: 100px;
  margin-bottom: 80px;
}
.footer img{
  height: 36px;
}
.navmenu-2 ul li a{
  color: #000;
  font-size: 15px;
  text-transform: uppercase;
  font-family: Lato, sans-serif;
  line-height: 21px;
  font-weight: 700;
  transition: opacity 0.2s ease 0s;
}
.navmenu-2 ul{
  margin-left: 20rem;
}
.navmenu-2 ul li{
  padding-left: 10px;  
}
.navmenu-2 ul li::after{
  content: " ";
  height: 2px;
  width: 0;
  background-color: #ff6700;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.navmenu-2 ul li:hover a{
  color: #ff6700 !important;
}
.navmenu-2 ul li:hover::after{
  width: 90%;
}

.footer-below span{
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  line-height: 40px;
  font-weight: 400;
  color: #798696;
}
.social-icon ul{
  text-align: right;
}
.social-icon ul li{
  display: inline-block;
  margin-left: 10px;
  padding-left: 10px;
}
.social-icon ul li a{
  /* background-color: #3b5998; */
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  color: #ffffff;
  background-color: rgb(235, 235, 235);
  transition: opacity 0.2s ease 0s;
}
.fb a{
  background-color: rgb(59, 89, 152) !important;
}
.insta a{
  background-color: rgb(221, 75, 57) !important;
}
.twitter a{
  background-color: rgb(85, 172, 238) !important;
}
.plus a{
  background-color: rgb(221, 75, 57) !important;
}
.yt a{
  background-color: rgb(255, 0, 0) !important;
}
.ln a{
  background-color: rgb(0, 123, 181) !important;
}

